body {
  background-color: #F0F0F0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  border-bottom: 5px solid gray;
}

header h1 {
  padding-left: 3em;
}

header button {
  width: 10%;
  height: 50%;
  margin-right: 5em;
}

main {
  background-color: #F0F0F0;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  height: 5em;
  width: 100% ;
  padding-top: 2em;
}

.filterContainer div {
  width: 30%;
  padding-left: 6em;
}

.searchBar {
  height: 4em;
  width: 100%;
  border-radius: 4px;
  border: none;
  font-size: 1em;
}

.region-select {
  height: 4em;
  width: 50%;
  border: none;
}

.all-countries-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 100px;
  overflow: hidden;
  margin: 3em;
}

.all-countries-card {
  width: 100%;
  height: 25em;
  background-color: white;
  border-radius: 5px;
}

.all-countries-flag {
  width: 100%;
  height: 10em;
  outline: .5px solid #F0F0F0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.all-countries-info {
  padding-left: 2em;
  padding-right: 1em;
}

h2 {
  width: 100%;
}

h3 {
  margin: 0 0 .25em 0;
}

h3 > span {
  font-weight: lighter;
}

a {
  width: 20%;
  margin: 2em 0 2em 3em;
  text-decoration: none;
  color: black;
}


.country-info-wrapper {
  display: flex;
}

.country-info {
  width: 50%;
}

.country-flag-wrapper{
  width: 50%;
  padding-left: 4em;
}

.country-flag {
  height: 20em;
  width: 75%;
}

.country-main-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10em;
}

.country-name {
  font-size: 2em;
}

.back-button-wrapper {
  padding: 4em 0 4em 4em;
}

.back-button {
  height: 3em;
  width: 8em;
  text-align: center;
}

button.back-button a, .border a{
  margin: 0;
}

.wrapper {
  background-color: #F0F0F0;
  min-height: 100px;
}

.country-main-info h3 {
  width: 50%; 
}

.border {
  margin: 0 .5em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--placeholder-color);
}

.weather-info-wrapper {
  min-height: 100px;
}

.weather-info {
  width: 22.5%;
  height: 15em;
  background-color: gray;
  margin: 5em auto;
  border-radius: 5px;
  padding: 0 2em;
}

.top {
  display: flex;
  justify-content: space-between;
}

.weather {
  font-size: 2em;
}

.temperature {
  font-size: 4em;
  letter-spacing: -5px;
  width: auto;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.forecast-info {
  display: flex;
  justify-content: space-between;
  height: 4em;
  background-color: white;
  margin: 0.5em 3em 0.5em 3em;
  border-radius: 5px;
}

.forecast-pic {
  height: 2em;
}

.forecast-weather {
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.forecast-weather p{
  padding-left: 1em;
}

.forecast-details {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.forecast-details span {
  padding-right: 1em;
}

.daily-grid {
  grid-row-gap: 0;
  grid-column-gap: 15px;
  column-gap: 15px;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 1em 4em;
}

.daily-items {
  height: 2em;
}

.no-weather {
  font-size: 3em;
  text-align: center;
  margin: 2em auto;
}